<div class="container margin-top">

  <div class="text-center marginbot">
    <div class="row">
      <%= cl_image_tag @user.photo,  crop: :fill, class:"profile-pic" %>
    </div>
    <div class="row profile-name">
      <%= @user.first_name.upcase %> <%= @user.last_name.upcase %>
    </div>
  </div>


  <div class="row">

   <h3 class="index-title text-center"> <span class="blue">YOUR </span> NEXT LECTURES</h3>

   <% @user.orders.each do |order| %>
     <div class="col-xs-12 col-sm-6 col-md-4 padded">
      <div class="card">
        <div class = "card-image" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= cl_image_path order.book.photo.path %>');" > </div>
        <div class="dates"> <%= order.start_time %> -- <%= order.end_time %></div>
        <%= link_to '', order, method: :delete, class: 'fa fa-times cross' %>
        <div class="book-content">
          <h3 class="book-title"> <%=truncate(order.book.title, length: 25, separator: " ", omission: " ..." )%> </h3>
          <div class="book-description"> <%= truncate(order.book.description, length: 125) %></div>
        </div>
        <h3 class = "book-price"> <%= order.book.price %> $ / week</h3>
        <span class = "book-category" id="on-small-card"> <%= order.book.category.upcase %> </span>
        <li> <%= link_to 'show', book_path(order.book) %> </li>
        <%= link_to '', book_path(order.book), class: 'card-link' %>
    </div>
  <% end %>

</div>
</div>
<h4 class="under-navbar"><%= link_to "Edit Profile", edit_user_registration_path %></h4>
