<div class="container margin-top">

<%= simple_form_for [@book] do |f| %>
<%= f.input :title %>
<%= f.input :author, as: :string %>
<%= f.input :price, as: :string %>
<%= f.input :description, as: :string %>
<%= f.input :category, as: :string %>
<%= f.input :photo, as: :attachinary %>
<%= f.button :submit, class: 'btn btn-primary' %>
<% end %>

</div>
