<%=   link_to 'new', new_book_path %>


<div class="container">
  <div class="row">

    <% @books.each do |book| %>
    <div class="col-xs-12 col-sm-6 col-md-4 padded">
      <div class="card">
        <div class = "card-image" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= cl_image_path book.photo.path %>');" > </div>

            <div class="book-content">
            <h3 class = "book-title"> <%= book.title %> </h3>
              <p class="book-description"> <%= book.description %></p>
              </div>
<h3 class = "book-price"> <%= book.price %> $ </h3>
            <li> <%= book.category %> </li>


            <li> <%= link_to 'show', book_path(book) %> </li>



      </div>
    </div>
    <% end %>


  </div>
</div>



