<%=   link_to 'new', new_book_path %>

<% @books.each do |book| %>




<ul>
  <li> <%= book.title %> - <%= book.price %> </li>
  <li> <%= book.category %> </li>
  <li> <%= link_to 'show', book_path(book) %> </li>
</ul>


<% end %>
