<div class="row">
  <h3 class = "index-title"><span class="blue"> </span> RESULTS </h3>
    <% @books.each do |book| %>
    <div class="col-xs-12 col-sm-6 col-md-4 padded">
      <div class="card">
        <div class = "card-image" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= cl_image_path book.photo.path %>');" > </div>

        <div class="book-content">
        <h3 class="book-title"> <%=book.title%> </h3>
          <div class="book-description"> <%= book.description %></div>
        </div>
        <h3 class = "book-price"> <%= book.price %> $ </h3>
        <span class = "book-category"> <%= book.category.upcase %> </span>
        <li> <%= link_to 'show', book_path(book) %> </li>
        <%= link_to '', book_path(book), class: 'card-link' %>
      </div>
    </div>
    <% end %>
</div>

<div id="map" style="width: 100%; height: 600px;">
  <% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.getMap().setZoom(5);
          if (markers.length == 0) {
            handler.getMap().setZoom(5);
          } else if (markers.length == 1) {
            handler.getMap().setZoom(14);
          }
        });
      });
    <% end %>
  <% end %>
</div>
