
<div class="bookbox">
      <!-- Display the movie's info here -->
  <div class="bookvisual">
    <%# cl_image_tag @book.image %>
    <div class="picbox">
      <h3 class="book-title"><%= @book.title + " | " + @book.author%></h3>
      <p class="book-description"><% @book.description %></p>
    </div>
  </div>

  <div class="bookinfo">
    <div class="infobox">
      <ul class="infolist">
        <li>Title : <%= @book.title%> </li>
        <li>Author: <%= @book.author%> </li>

        <li>Price: $ <%= @book.price %> </li>
        <li>Category: <%= @book.category %> </li>
   <!--       <% @book.orders.each do |order| %>
           <li> <%= order.start_time %> </li>
         <% end %> -->
        <!-- DESCRIPTION AND OTHER ATTRIBUTES -->
      </ul>
    </div>
<!-- FORM FOR ORDER -->
    <div class="orderbox">
    <%= simple_form_for [@book, @order] do |f| %>
      <%= f.input :start_time, as: :date, html5: true %>
      <%= f.input :end_time, as: :date, html5: true %>
      <%= f.button :submit, class: 'btn btn-order' %>
    <% end %>
    </div>
  </div>
</div>
