<div class="margin-top">
<div class="banner-show">

  <div class = "banner-image" style="background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.1)), url('<%= cl_image_path @book.photo.path %>');" >

   <div class = "avatar-user">
    <a href="/users/<%= @book.user.id %>" >
      <% avatar_url = @book.user.facebook_picture_url || cl_image_path(@book.user.attachment.path) || "http://placehold.it/30x30" %>
      <%= image_tag avatar_url, class: 'avatar-large'%>
    </a>
  </div>
  </div>


  <div class="banner-description">
   <div class="flexbox-title">
    <h3 class="book-title"> <%= @book.title%> <p id="author"> <i> by <%= @book.author %> </i></p> </h3>
  </div>


  <div class="book-full-description"> <%= @book.description %></div>

 <div >
   <%= simple_form_for [@book, @order], html: {class: "flexbox-order-form"} do |f| %>
   <%= f.input :start_time, as: :string, label: "From:",placeholder: 'start-date', input_html: { class: 'datepicker'}, wrapper_html: {class: 'smaller'} %>
   <%= f.input :end_time, as: :string, label: "to:",placeholder: 'end-date', input_html: { class: 'datepicker'}, wrapper_html: {class: 'smaller'}%>
   <%= f.button :submit, class: 'btn btn-order' %>
   <% end %>
 </div>

  <h3 id="price" class = "book-price bigger"> <%= @book.price %> $ | week</h3>

  <div class = "list-of-dates">
<% unless @book.orders.empty?%>
  <h4> <i class="fa fa-calendar" aria-hidden="true"> </i> Calendar </h4>
<% end %>
      <% @book.orders.first(4).each do |order| %>
      <a href="/users/<%= order.user.id %>" class="profile-link" > <div class="date-element"> <%= order.user.first_name%> : <%= order.start_time %> | <%= order.end_time %>  </div> </a>
      <% end %>
    </div>

<% unless @book.user.pickup_address.nil? %>
<div class="map-book" id="map" ></div>
<% end %>

</div>

<!-- CATEGORIES IN FLEXBOX AT BOTTOM  -->
<div class="flexbox-categories">
  <span class = "book-category" id="on-big-card"> <%= @book.category.upcase %> </span>
</div>
<!-- -------------- -->


</div>

<% content_for(:after_js) do %>
<%= javascript_tag do %>
$(document).ready(function() {
$('.datepicker').datepicker();
});
<% end %>
<% end %>
</div>

<div class="go-back">
   <%= link_to root_path do %><h3>  < BACK </h3><% end %>
</div>




<% content_for(:after_js) do %>
    <%= javascript_tag do %>
      $(document).ready(function() {
        var handler = Gmaps.build('Google');
        handler.buildMap({ internal: { id: 'map' } }, function() {
          markers = handler.addMarkers(<%= raw @hash.to_json %>);
          handler.bounds.extendWith(markers);
          handler.fitMapToBounds();
           handler.getMap().setZoom(14);
        });
      });
    <% end %>
  <% end %>






